table{
    width: 80%;
    padding-left: 10%;
}

.button{
    color: white !important;
    height: 40px;
    width: 90px;
    position: relative;
    background: blue;
  }

  .heading{
    padding: 2%;
    font-size: 20px;
    font-style: normal;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }